/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  display: block;
}
.container {
  width: 95%;
  margin: 0 auto;
}
header {
  background-color: #005db7;
  padding-top: 35px;
  color: #fff;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@media (max-width: 500px) {
  header nav {
    flex-flow: column nowrap;
  }
  header nav a,
  header nav h1 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
  }
}
header nav h1 {
  font-size: 3rem;
}
header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
header nav a:hover {
  color: #960e29;
}
main {
  display: flex;
  justify-content: space-between;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
}
@media (max-width: 500px) {
  main {
    display: block;
  }
}
main h1,
main h2,
main h3,
main h4 {
  font-family: 'Abhaya Libre', serif;
  line-height: 2;
}
main h2 {
  font-size: 2.25rem;
}
main #column-left {
  flex: 1;
  padding: 1.25rem;
  margin: 0.5rem;
  border-radius: 0.45rem;
}
main #column-right {
  background-color: #005db7;
  flex: 1;
  padding: 1.25rem;
  margin: 0.5rem;
  border-radius: 0.45rem;
}
main section {
  min-height: 300px;
  margin: 2rem;
}
main #work {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.45rem;
  box-shadow: 4rem 0.75rem 1rem 3rem rgba(4, 4, 4 0.35);
}
main #work ul li {
  margin: 1.25rem;
}
